{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mb-2 mt-2">
        <div class="col text-right">
            <a href="{{ path('ajouter_produit') }}" class="btn btn-primary">Nouveau livre</a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>N°</th>
            <th>Produit</th>
            <th>Catégorie</th>
            <th>Marque</th>
            <th>Déscription</th>
            <th>Recherche</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for produit in listeDesProduits %}
                <tr>
                    <td>{{ produit.id }}</td>
                    <td>{{ produit.nomProduit }}</td>
                    <td>{{ produit.categorie.nomCategorie }}</td>
                    <td>{{ produit.marque.nomMarque }}</td>
                    <td>{{ produit.description }}</td>
                    <td>{{ produit.motRecherche }}</td>
                    <td>
                        <div class="btn-group">
                            <div class="btn mr-1">
                                <a href="{{ path('modifier_produit', {'id': produit.id}) }}" class="btn btn-warning">Modifier</a>
                            </div>
                            <div class="btn mr-1">
                                <a href="{{ path('supprimer_produit', {'id': produit.id}) }}" class="btn btn-danger">Supprimer</a>
                            </div>
                            <div class="btn mr-1">
                                <a href="{{ path('ajouter_informations_produit', {'id': produit.id}) }}" class="btn btn-success">Ajouter des informations</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}